In [25]:
# from sklearn.compose import ColumnTransformer
# from sklearn.preprocessing import OneHotEncoder, StandardScaler
# from imblearn.pipeline import Pipeline
# from imblearn.combine import SMOTEENN
# from sklearn.ensemble import RandomForestClassifier
import joblib
import pandas as pd

In [26]:
model = joblib.load("churn_random_forest_pipeline.pkl")

In [27]:
def convert_tenure_to_bin(input_data, mx_tenure=72):
    """
    Convert tenure into tenure_group bins and remove tenure column.
    Logic: 1-12, 13-24, ..., up to mx_tenure
    """

    # Convert dict to DataFrame
    df = pd.DataFrame([input_data])

    # Create labels like 1-12, 13-24, ...
    labels = [f"{i}-{i+11}" for i in range(1, mx_tenure, 12)]

    # Create bins
    bins = list(range(1, mx_tenure + 12, 12))

    # Apply binning
    df["tenure_group"] = pd.cut(
        df["tenure"],
        bins=bins,
        right=False,
        labels=labels
    )

    # Drop original tenure
    df.drop("tenure", axis=1, inplace=True)

    return df

In [28]:
input_data = {
    'gender': 'Female',
    'SeniorCitizen': 0,
    'Partner': 'Yes',
    'Dependents': 'No',
    'tenure':1,
    'PhoneService': 'No',
    'MultipleLines': 'No phone service',
    'InternetService': 'DSL',
    'OnlineSecurity': 'No',
    'OnlineBackup': 'Yes',
    'DeviceProtection': 'No',
    'TechSupport': 'No',
    'StreamingTV': 'No',
    'StreamingMovies': 'No',
    'Contract': 'Month-to-month',
    'PaperlessBilling': 'Yes',
    'PaymentMethod': 'Electronic check',
    'MonthlyCharges': 29.85,
    'TotalCharges': 29.85
}

In [29]:
df=convert_tenure_to_bin(input_data)

In [30]:
df

,gender,SeniorCitizen,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,tenure_group
0,Female,0,Yes,No,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,1-12

In [31]:
df.dtypes

gender                object
SeniorCitizen          int64
Partner               object
Dependents            object
PhoneService          object
MultipleLines         object
InternetService       object
OnlineSecurity        object
OnlineBackup          object
DeviceProtection      object
TechSupport           object
StreamingTV           object
StreamingMovies       object
Contract              object
PaperlessBilling      object
PaymentMethod         object
MonthlyCharges       float64
TotalCharges         float64
tenure_group        category
dtype: object

In [32]:
df=df.astype({"SeniorCitizen":object,"tenure_group":object})

In [33]:
model.predict(df)

array([1])

In [34]:
model.predict_proba(df)

array([[0.04, 0.96]])